In [ ]:
# 1로 만들기

N = int(input())
arr = [0 for i in range(N+1)]

for i in range(2, N+1):
    arr[i] = arr[i-1] + 1

    if (i % 2 == 0) and (arr[i] > arr[i//2] + 1):
        arr[i] = arr[i//2] + 1

    if (i % 3 == 0) and (arr[i] > arr[i//3] + 1):
        arr[i] = arr[i//3] + 1

print(arr[N])

1 - 1                          0


2 - 1                          1


3 - 1                          1


4 - 2 - 1                      2


5 - 4                         1+2 = 3


6 - 2                         1+1 = 2


7 - 6                         1+2 = 3


8 - 4                         1+2 = 3


9 - 3                         1+1 = 2


10- 9                         1+2 = 3


11- 10                        1+3 = 4


12- 4                         1+2 = 3


13- 12                        1+3 = 4


14- 7                         1+3 = 4


15- 5                         1+3 = 4


16-8                          1+3 = 4


17-16                         1+4 = 5


18-6                          1+2 = 3


19-18                         1+3 = 4


20-10                         1+3 = 4


21-7                          1+3 = 4


22-11                         1+4 = 5


28-14   5


28-27-9-3-1 4